In [2]:
import pandas as pd
import numpy as np 
import os
import zipfile

# 1. Loading Files

In [3]:
# Set the path to the root directory containing the zip files
root_dir = '../data/raw/itineraries_csv'

# Initialize an empty list to hold DataFrames
df_list = []

# Walk through the root directory
for folder_name, subfolders, filenames in os.walk(root_dir):
    for filename in filenames:
        if filename.endswith('.zip'):
            # Get the full path to the zip file
            zip_file_path = os.path.join(folder_name, filename)
            
            # Open the zip file
            with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
                # Loop through files inside the zip and check if it's a CSV
                for file in zip_ref.namelist():
                    if file.endswith('.csv'):
                        # Read the CSV into a DataFrame
                        with zip_ref.open(file) as f:
                            df = pd.read_csv(f)
                            # Append the DataFrame to the list
                            df_list.append(df)

# Concatenate all DataFrames into one
merged_df = pd.concat(df_list, ignore_index=True)

In [4]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13519999 entries, 0 to 13519998
Data columns (total 23 columns):
 #   Column                             Dtype
---  ------                             -----
 0   legId                              object
 1   searchDate                         object
 2   flightDate                         object
 3   startingAirport                    object
 4   destinationAirport                 object
 5   travelDuration                     object
 6   isBasicEconomy                     bool
 7   isRefundable                       bool
 8   isNonStop                          bool
 9   totalFare                          float64
 10  totalTravelDistance                float64
 11  segmentsDepartureTimeEpochSeconds  object
 12  segmentsDepartureTimeRaw           object
 13  segmentsArrivalTimeEpochSeconds    object
 14  segmentsArrivalTimeRaw             object
 15  segmentsArrivalAirportCode         object
 16  segmentsDepartureAirportCode       object
 17  segmentsAirlineName                object
 18  segmentsAirlineCode                object
 19  segmentsEquipmentDescription       object
 20  segmentsDurationInSeconds          object
 21  segmentsDistance                   object
 22  segmentsCabinCode                  object
dtypes: bool(3), float64(2), object(18)
memory usage: 2.1+ GB

In [5]:
merged_df.describe()

          totalFare  totalTravelDistance
count  1.352000e+07         1.256038e+07
mean   3.737535e+02         1.569619e+03
std    2.075496e+02         8.414888e+02
min    2.397000e+01         9.700000e+01
25%    2.235800e+02         8.620000e+02
50%    3.446000e+02         1.392000e+03
75%    4.876000e+02         2.376000e+03
max    8.260610e+03         4.430000e+03

In [11]:
merged_df.to_csv('../data/raw/merged_file/merged_flight_data.csv', index=False)

In [8]:
merged_df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,e1b137527b9175d7d930c3af82e70ae0,2022-04-19,2022-05-20,OAK,ATL,PT7H52M,False,False,False,103.98,...,1653107460||1653126600,2022-05-20T22:31:00.000-06:00||2022-05-21T05:5...,DEN||ATL,OAK||DEN,Frontier Airlines||Frontier Airlines,F9||F9,||Airbus A320,9180||10620,943||1207,coach||coach
1,d813ebd107e3fa700206c0d96015da7a,2022-04-19,2022-05-20,OAK,ATL,PT6H15M,False,False,False,216.58,...,1653067080||1653084660,2022-05-20T10:18:00.000-07:00||2022-05-20T18:1...,LAX||ATL,OAK||LAX,Spirit Airlines||Spirit Airlines,NK||NK,||AIRBUS INDUSTRIE A320 SHARKLETS,4920||15600,None||None,coach||coach
2,e8ece5ad6f5962c696e06e031fc2a24a,2022-04-19,2022-05-20,OAK,ATL,PT9H6M,False,False,False,216.58,...,1653056820||1653084660,2022-05-20T07:27:00.000-07:00||2022-05-20T18:1...,LAX||ATL,OAK||LAX,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||AIRBUS INDUST...,4920||15600,None||None,coach||coach
3,c004a54681335100f326c9613b3c9448,2022-04-19,2022-05-20,OAK,ATL,PT6H17M,False,False,False,237.58,...,1653110940||1653127980,2022-05-20T22:29:00.000-07:00||2022-05-21T06:1...,LAS||ATL,OAK||LAS,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||Airbus A319,5580||13980,None||None,coach||coach
4,4a42bbf77211b4afa7b9e14005949120,2022-04-19,2022-05-20,OAK,ATL,PT14H12M,False,False,False,307.21,...,1653115560||1653159180,2022-05-20T23:46:00.000-07:00||2022-05-21T14:5...,SEA||ATL,OAK||SEA,Alaska Airlines||Alaska Airlines,AS||AS,Boeing 737-900||Boeing 737-900,7500||17580,672||2178,coach||coach

In [10]:
merged_df['startingAirport'].value_counts()

startingAirport
LAX    1352275
LGA    1021938
BOS     989175
SFO     949046
DFW     896596
ORD     894646
MIA     875288
ATL     874069
CLT     854536
PHL     785039
DEN     770429
DTW     747751
EWR     699628
JFK     688263
IAD     594215
OAK     527105
Name: count, dtype: int64